.movies__container {
    padding: 70px 70px 30px;
    display: grid;
    grid-template-columns: repeat(3, min-content);
    grid-auto-rows: min-content;
    column-gap: 24px;
    row-gap: 30px;
    margin: 0 auto;
    width: min-content;
    max-width: 1140px;
}

.movies__more {
    width: 100%;
    margin: 0 auto;
    max-width: 1140px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px 0 80px;
}

.movies__more-button {
    cursor: pointer;
    margin: 0 auth 0;
    color: #000;
    text-align: center;
    font-size: 12px;
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    width: 320px;
    height: 36px;
    border-radius: 6px;
    background: #F9F9F9;
    border: none;
}

@media screen and (max-device-width: 1279px) {
    .movies__container {
        max-width: 100%;
        padding: 70px 30px 80px;
        grid-template-columns: repeat(2, min-content);
        grid-auto-rows: min-content;
        column-gap: 30px;
        row-gap: 36px;
    }
}

@media screen and (max-device-width: 767px) {
    .movies__container {
        max-width: 100%;
        padding: 40px 0 80px;
        grid-template-columns: repeat(1, min-content);
        grid-auto-rows: min-content;
        row-gap: 30px;
    }
}