.navigation {
    display: grid;
    grid-template-columns: repeat(2, max-content);
    column-gap: 16px;
    padding: 28px 0;
    margin: 0;
    list-style-type: none;

}

.navigation__link {
    color: #000;
    text-align: right;
    font-size: 13px;
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    line-height: 18px;
    text-decoration: none;
}

@media screen and (min-width: 320px) and (max-width: 900px) {
    .navigation {
        display: none;
    }
  }
  