.search {
    display: flex;
    justify-content: center;
    padding: 70px 70px 49px;
}

.search__form {
    width: 100%;
}

.search__line {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #E8E8E8;
    padding-bottom: 15px;
}

.search__line-icon {
    width: 34px;
    height: 34px;
}

.search__line-input {
    width: 87%;
    border: none;
    color: #A0A0A0;
    text-align: center;
    font-size: 28px;
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.search__line-button {
    cursor: pointer;
    background-color: #000000;
    border: none;
    padding: 8px 10.35px;
    border-radius: 48px;
    color: #FFF;
    text-align: center;
    font-size: 11px;
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    line-height: 18px;
}

.search__checkbox-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    max-width: 174px;
    margin: 30px auto 0;
    position: relative;
}

.search__checkbox-input {
    position: absolute;
    width: 36px;
    height: 20px;
    left: 0;
    top: 0;
    z-index: 10;
    opacity: 0;
    cursor: pointer;
}

.search__checkbox-input+label {
    display: inline-flex;
    align-items: center;
    user-select: none;
}

.search__checkbox-input+label::before {
    content: '';
    display: inline-block;
    width: 36px;
    height: 20px;
    flex-shrink: 0;
    flex-grow: 0;
    border: none;
    margin-right: 0.5em;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 36px 20px;
    margin-right: 12px;
    background-image: url(../../images/inactive_checkbox.svg);
}

.search__checkbox-input:checked+label::before {
    background-image: url(../../images/active_checkbox.svg);
}

.search__checkbox-label {
    position: relative;
    color: #000;
    font-size: 14px;
    font-family: Inter;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
}

@media screen and (max-width: 349px) {
    .search {
        padding: 92px 14px 43px;
    }

    .search__line-icon {
        display: none;
    }

    .search__line-input {
        width: 85%;
        text-align: left;
        font-size: 18px;
        line-height: normal;
    }

    .search__checkbox-label {
        font-size: 11px;
    }

}